body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.category-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: larger;
    gap: 2px;
}
  

button{
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    font-weight: bolder;

}

.active{
    background-color: greenyellow;
}

.dish-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.dish{
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
    width: min-content;
}

.dish img{
    height: 300px;
    width: 300px;
    object-fit: fill;
    border-radius: 10px;
       
}

.dish-details{
    text-align: center;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid darkgrey;
}

.price{
    color: darkgoldenrod;
    font-size: larger;
    font-weight: bolder;
}